<ion-header [translucent]="true">
  <app-nav [titulo]="titulo"></app-nav>
</ion-header>
<ion-content class="fondo">
  <div *ngIf="!spinner">
    <div *ngIf="!pedidosPendientes" class="divMensaje contenedorBlanco">
      <br>
      <img style="width: 70vw;" src="assets/logo.jpeg">
      <h4 class="mensaje">No hay bebidas para entregar</h4>    
      <br> 
    </div>
  
    <div *ngIf="pedidosPendientes" class="divBlanco" >
      <div *ngFor="let pedido of pedidos">
        <ion-card>
          <div *ngFor="let producto of pedido.pedido">
            <ion-card *ngIf="producto.producto.sector === 'barra'">
              <ion-item>
                <div>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-avatar><img [src]="producto.producto.imagen[0].referencia"></ion-avatar>
                      </ion-col>
                      <ion-col>
                        <ion-label  style="width: 90px;">
                          <span>{{producto.producto.nombre}}</span>
                        </ion-label>
                      </ion-col>
                      <ion-col>
                        <ion-label>
                          <span>{{producto.unidades}}x</span>
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-item>
            </ion-card>
          </div>
          <div style="text-align: center;display: flex;flex-direction: column;align-items: center;">
            <!--<ion-button expand="block" (click)="entregarPedido(pedido)" class="buttonEntregarPedido">Entregar pedido</ion-button>-->
            <ion-button class="ion-margin" color="danger" shape="round" expand="block" (click)="entregarPedido(pedido)" >Entregar pedido</ion-button>
          </div>
        </ion-card>
        
      </div>
    </div>
  </div>
</ion-content>