<ion-header [translucent]="true">
  <app-nav [titulo]="titulo"></app-nav>
</ion-header>
<ion-content class="fondo">
  <div *ngIf="!spinner" class="contenedorBlanco">
    <div *ngIf="!clientesEsperando" class="divMensaje">
      <br>
      <img style="width: 70vw;" src="assets/logo.jpeg">
      <h4 class="mensaje">No hay clientes esperando mesa</h4>    
      <br>    
    </div>
    
      <div *ngIf="clientesEsperando">
        <div *ngFor="let user of users" >
          <ion-card>
            <ion-item >
              <div>
                <ion-grid >
                  <ion-row>
                    <ion-col>
                      <ion-label color="dark" class="label"><strong>Nombre: </strong><span class="texto">{{user.nombre}}</span></ion-label>
                      <ion-label color="dark" class="label"><strong>Apellido: </strong><span class="texto">{{user.apellido}}</span></ion-label>
                      <ion-label color="dark" class="label"><strong>Correo: </strong><span class="texto">{{user.email}}</span></ion-label>
                      <ion-label color="dark" class="label"><strong>DNI: </strong><span class="texto">{{user.dni}}</span></ion-label>
                    </ion-col >
                  </ion-row>
                </ion-grid>
              </div>
            </ion-item>
          </ion-card>
        </div>
      </div>
    </div>
</ion-content>
