<ion-header [translucent]="true">
  <app-nav [titulo]="titulo"></app-nav>
</ion-header>
<ion-content class="fondo">
  <div *ngIf="!spinner" class="divBlanco">
    <div *ngIf="!clientesEsperando" class="divMensaje">
      <br>
      <img style="width: 70vw;" src="assets/logo.jpeg">
      <h4 class="mensaje">No hay clientes esperando mesa</h4>    
      <br>    
    </div>
    
      <div *ngIf="clientesEsperando">
        <!--<div *ngFor="let user of users" >
          <ion-card>
            <ion-item >
              <div>
                <ion-grid >
                  <ion-row>
                    <ion-col>
                      <ion-label color="dark" class="label"><strong>Nombre: </strong><span class="texto">{{user.nombre}}</span></ion-label>
                      <ion-label color="dark" class="label"><strong>Apellido: </strong><span class="texto">{{user.apellido}}</span></ion-label>
                      <ion-label color="dark" class="label"><strong>Correo: </strong><span class="texto">{{user.email}}</span></ion-label>
                      <ion-label color="dark" class="label"><strong>DNI: </strong><span class="texto">{{user.dni}}</span></ion-label>
                    </ion-col >
                  </ion-row>
                </ion-grid>
              </div>
            </ion-item>
          </ion-card>
        </div>-->
        <ion-card *ngFor="let user of users">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{user.foto}}">
            </ion-avatar>
            <ion-label>
              <h2 text-capitalize>{{user.apellido}} {{user.nombre}}</h2>
              <p>DNI: {{user.dni}}</p>
              <p>Correo: {{user.email}}</p>
            </ion-label>
            <!--<ion-badge (click)="aceptar(user)" style="margin-right: 5px;" color="success"><ion-icon name="checkmark-sharp"></ion-icon></ion-badge>-->
            <ion-badge (click)="rechazar(user)" color="danger"><ion-icon name="close-sharp"></ion-icon></ion-badge>
          </ion-item>
        </ion-card>
      </div>
    </div>
</ion-content>
