<ion-header>
    <ion-toolbar>
      <ion-title>Lista de espera de clientes</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" color="light"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div *ngIf="!clientesEsperando" class="divMensaje">
        <h4 class="mensaje">No hay clientes por aprobar</h4>
        <br>
        <br>
        <br>
        <img style="width: 70vw;" src="assets/logo.jpeg">
      </div>
    
      <div *ngIf="clientesEsperando" >
        <div *ngFor="let user of users">
          <ion-card>
            <ion-item>
              <div>
                <ion-grid style="text-align: center; margin-left: 80px;">
                  <ion-row>
                    <ion-col>
                      <ion-label>
                        <p>Apellido: {{user.apellido}}</p>
                        <p>Nombre: {{user.nombre}}</p>
                        <p>DNI: {{user.dni}}</p>
                        <p>Correo: {{user.email}}</p>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-button expand="block" (click)="openModal(user)" class="buttonAsignarMesa">Asignar Mesa</ion-button>
                </ion-grid>
              </div>
            </ion-item>
          </ion-card>
        </div>
      </div>
</ion-content>
