on-header{
    text-align:center;
}
ion-toolbar{
    --background: #60238f;
}
ion-title{
    color: white;
    font-size: 18px;
    text-transform: initial;
}
ion-button{
    color: white;
}

.buttonPrepararPedido{
    font-size: 18px;
    text-transform: initial;
    --background: #60238f;
    width: 200px;
    margin-left: 105px;
}