<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pendientesMozo" (click)="dismissModal()" color="danger"> </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo">
  <div class="divBlanco">
    <div style="margin: 40px; font-size: 30px; text-align: center;">
      <p>Estado Pedido: <strong>{{capitalizeFirstLetter(pedido.estado)}}</strong></p>
    </div>
    <div *ngFor="let producto of pedido.pedido">
      <ion-card>
        <ion-item>
          <div>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label style="width: 200px;">
                    <span>{{producto.producto.nombre}}</span>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>
                    <span>{{producto.unidades}}x</span>
                  </ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>
                    <span>${{producto.producto.precio}}</span>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-item>
      </ion-card>
    </div>
    <div style="text-align: center;">
      <h1>Total: ${{pedido.total}}</h1>
    </div>
    <div *ngIf="pedidoPendiente">
      <ion-item>
        <p>Estado sector cocina: <strong>{{capitalizeFirstLetter(pedido.estado_cocina)}}</strong></p>
      </ion-item>
      <ion-item>
        <p>Estado sector barra: <strong>{{capitalizeFirstLetter(pedido.estado_bebidas)}}</strong></p>
      </ion-item>
    </div>
    <div *ngIf="estado == 'listo_para_servir'"  style="text-align: center;display: flex;flex-direction: column;align-items: center;">
      <ion-button expand="block" (click)="servirPedido()" class="buttonServirPedido">Servir pedido</ion-button>
    </div>
    <div *ngIf="estado == 'confirmar_pago'"  style="text-align: center;display: flex;flex-direction: column;align-items: center;">
      <ion-button expand="block" (click)="finalizarPedido()" class="buttonFinalizarPedido">Confirmar pago y liberar mesa</ion-button>
    </div>
  </div>
</ion-content>