.line{
    border: 1px solid rgb(136, 134, 134);
    padding: 0%;
}

.price{
    color: red;
    font-size: 13px;
}

.my-custom-class {
  --background: #222;
  --spinner-color: #fff;

  color: #fff;
}