<ion-header [translucent]="true">
  <app-nav [titulo]="titulo"></app-nav>
</ion-header>


<ion-content>

  <ion-card style="margin-top: 3%;">

    <ion-slides pager="true">
      <ion-slide *ngFor="let img of imagenes">
        <div>
          <img [src]="img.referencia" style="width: 300px; ; height: 250px ;" />
        </div>
      </ion-slide>
    </ion-slides>

    <ion-card-header>
      <ion-card-subtitle>{{producto.desc}}<h4 style="font-weight:bold;">${{producto.precio}}</h4>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list class="opc_list">

        <ion-radio-group value={{producto.opciones[0]}}>          
          <ion-item *ngFor="let opcion of producto.opciones">
            <ion-label>{{opcion}}</ion-label>
          <ion-radio slot="end" value={{opcion}} (click)="agregarOpcion($event)" color="danger"></ion-radio>
          </ion-item>
        </ion-radio-group>


      </ion-list>
    </ion-card-content>

    <div class="calculator">
      <button (click)="restar()">
        <ion-icon name="remove-outline"></ion-icon>
      </button>
      <div>
        <h2>{{unidades}} U</h2>
      </div>
      <button (click)="sumar()">
        <ion-icon name="add-outline"></ion-icon>
      </button>
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-button color="danger" shape="round" fill="outline" expand="full" (click)="enviarPedido()">
      Agregar al pedido
      <ion-icon slot="start" name="bag-check-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-footer>