<ion-card style="margin-top: 25%;">
  <img [src]="producto.imagen" height="100%" width="100%" />
  <ion-card-header>
    <ion-card-title>{{producto.nombre}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <h5>{{producto.desc}}</h5><br>
    <h6>${{producto.precio}}</h6>
  </ion-card-content>

  <div class="calculator">
    <button (click)="restar()">
      <ion-icon name="remove-outline"></ion-icon>
    </button>
    <div> <h2>{{unidades}} U</h2></div>
    <button (click)="sumar()">
      <ion-icon name="add-outline"></ion-icon>
    </button>
  </div>
</ion-card>

<ion-button style="margin-top: 10%;" shape="round" fill="outline" expand="full" (click)="enviarPedido()" >Agregar al pedido</ion-button>

<ion-button style="margin-top: 5%;" shape="round" fill="outline" expand="full" (click)="volver()">Volver al menú</ion-button>