<ion-card style="margin-top: 3%;">

  <ion-slides pager="true">
    <ion-slide *ngFor="let img of imagenes">
      <div>
        <img [src]="img.referencia" style="width: 300px; ; height: 250px ;" />
      </div>
    </ion-slide>
  </ion-slides>

  <ion-card-header>
    <ion-card-title style="font-weight:bold;">{{producto.nombre}}</ion-card-title>
    <ion-card-subtitle>{{producto.desc}}<h4 style="font-weight:bold;">${{producto.precio}}</h4></ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    <ion-list class="opc_list">
      <ion-item *ngFor="let opcion of producto.opciones">
        <ion-label>{{opcion}}</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card-content>

  <div class="calculator">
    <button (click)="restar()">
      <ion-icon name="remove-outline"></ion-icon>
    </button>
    <div>
      <h2>{{unidades}} U</h2>
    </div>
    <button (click)="sumar()">
      <ion-icon name="add-outline"></ion-icon>
    </button>
  </div>
</ion-card>

<ion-button style="margin-top: 2%;" shape="round" fill="outline" expand="full" (click)="enviarPedido()">Agregar al
  pedido</ion-button>

<ion-button style="margin-top: 2%;" shape="round" fill="outline" expand="full" (click)="volver()">Volver al menú
</ion-button>