.divImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    ion-img{
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 0 6px #888888;
        border-radius: 5px;

        width: 100px;
        height: 100px;
    }
}


#form {
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;

    ion-item{
        border: 2px solid;
        border-color: #c7bdbd;
        border-radius: 3px;
        height: 45px;
        ion-input{
            margin-bottom: 5px;
            font-family: fantasy;
        }
    }

    .divButton{
        display: flex;
        flex-direction: column;
        align-items: center;
        .buttonAlta{
            margin-top: 5px; //35
            height: 40px;
            width: 250px;
            font-size: 18px;
            text-transform: initial;
            --background: #9200ff;
        }
        .buttonQr{
            margin-top: 5px; //35
            height: 40px;
            width: 250px;
            font-size: 18px;
            text-transform: initial;

            border: 2px solid;
            --border-color: #9200ff;
            color: #9200ff;
            --background: white;
        }
    }
    
}



