<ion-content>

  <div class="divImage">
    <ion-img src="assets/usuario.png"></ion-img>
  </div>

  <form id="form" [formGroup]="altaForm" (ngSubmit)="alta(altaForm)">

    <div class="divButton">
      <ion-button  class="buttonQr" (click)="tomarFoto()" type="button" ><p>Tomar foto</p><ion-icon style="color: black;" name="camera-sharp"></ion-icon></ion-button>
    </div>

    <ion-item class="ion-margin-bottom ion-margin-top">
      <ion-input formControlName="apellido" placeholder="Apellidos"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="nombre" placeholder="Nombres"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="dni" placeholder="DNI" maxlength="8"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="correo" placeholder="Correo"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="passwordConfirm" type="password" placeholder="Confirmar contraseña"></ion-input>
    </ion-item>

    <div class="divButton">
      <ion-button  class="buttonAlta" type="submit" >Registrarse</ion-button>
      <ion-button  class="buttonQr" (click)="escanearQr()" type="button" ><p>QR DOC</p><ion-icon style="color: black;" name="scan-sharp"></ion-icon></ion-button>
    </div>

  </form>

</ion-content>
