<ion-header [hidden]="scanActive">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="scanActive ? '#00000000' : '#fff'">

  <div class="divImage" [hidden]="scanActive">
    <ion-avatar class="avatarImage">
      <img [src]='foto' alt="">
    </ion-avatar>
  </div>

  <form [hidden]="scanActive" id="form" [formGroup]="altaForm" (ngSubmit)="alta(altaForm)">

    <div class="divButton">
      <ion-button  class="buttonQr" (click)="tomarFoto()" type="button" ><p>Tomar foto</p><ion-icon style="color: black;" name="camera-sharp"></ion-icon></ion-button>
    </div>

    <ion-item class="ion-margin-bottom ion-margin-top">
      <ion-input formControlName="apellido" [value]='apellidoStr' placeholder="Apellidos"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.apellido">
      <ng-container *ngIf="apellido.hasError(error.type) && (apellido.dirty || apellido.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div><br>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="nombre" [value]='nombreStr' placeholder="Nombres"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.nombre">
      <ng-container *ngIf="nombre.hasError(error.type) && (nombre.dirty || nombre.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div><br>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="dni" [value]='dniStr' placeholder="DNI" maxlength="8"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.dni">
      <ng-container *ngIf="dni.hasError(error.type) && (dni.dirty || dni.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div><br>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="email" placeholder="Correo"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.email">
      <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div><br>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div><br>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="passwordConfirm" type="password" placeholder="Confirmar contraseña"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.passwordConfirm">
      <ng-container *ngIf="passwordConfirm.hasError(error.type) && (passwordConfirm.dirty || passwordConfirm.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div><br>

    <div class="divButton">
      <ion-button  class="buttonAlta" type="submit" >Registrarse</ion-button>
      <ion-button  class="buttonQr" (click)="escanearQr()" type="button" ><p>QR DOC</p><ion-icon style="color: black;" name="scan-sharp"></ion-icon></ion-button>
    </div>

  </form>


  <!-- Aparece cuando el scanner esta activado-->
  <div class="scan-box" [hidden]="!scanActive"></div>
  <ion-row class="scanner-buttons" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button (click)="stopScanner()">Salir</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
