<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [style.--background]="scanActive ? '#ffffff00' : '#ffffff'" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" [hidden]="scanActive">
    <strong>Bienvenido a La Estancia</strong>
    <p>Escanee el QR para ingresar a la sala de espera</p>
  </div>

  <div id="container-button" [hidden]="scanActive">
    <ion-button color="primary" shape="round" fill="outline" (click)="escanear()">
      <ion-icon name="qr-code-sharp" slot="end"></ion-icon>Escanear QR
    </ion-button>
  </div>

  <!-- Aparece cuando el scanner esta activado-->
  <div class="scan-box" [hidden]="!scanActive"></div>
  <ion-row class="scanner-buttons" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button color="primary" shape="round" (click)="stopScanner()">Salir</ion-button>
    </ion-col>
  </ion-row>


</ion-content>