ion-header{
    text-align:center;
}
ion-toolbar{
    --background: #9200ff;
}
ion-title{
    padding-left: 0px;
    color: white;
    font-size: 18px;
    text-transform: initial;
}

.divTitle{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 2px solid;
    background-color: var(--ion-color-danger);
    border-color: var(--ion-color-danger);
    .title{
        padding-bottom: 10px;
        color: white;
        font-family: arial;
        font-size: 16px;
    }
}

.img{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}


.divImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .avatarImage{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 0 6px #888888;
        width: 120px;
        height: 120px;
    }
}

.buttonAceptar{
    font-size: 18px;
    text-transform: initial;
    --background: #9200ff;
}

.buttonRechazar{
    font-size: 18px;
    text-transform: initial;

    border: 2px solid;
    --border-color: #9200ff;
    color: #9200ff;
    --background: white;
}

.divMensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .mensaje{
        font-size: 20px;
        text-transform: initial;
    }
}
$greenSeaweed: rgba(2, 128, 144, 1);
.contenedor {
    opacity: 0.95;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    transition: (transform 300ms, box-shadow 300ms);
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    
}