<ion-header [translucent]="true">
  <app-nav [titulo]="titulo"></app-nav>
</ion-header>

<ion-content class="fondo">

  <div class="divBlanco">
    
    <div *ngIf="!clienteSinAutorizar" class="img">
      <img style="width: 70vw;" src="assets/logo_bodegon.png">
    </div>


    <div *ngIf="!clienteSinAutorizar" class="ion-margin divTitle">
      <h2 class="title">No hay clientes por aprobar</h2>
    </div>
  
    <div *ngIf="clienteSinAutorizar">
      <ion-card *ngFor="let user of users">
        <ion-item>
          <ion-avatar slot="start">
            <img src="{{user.foto}}">
          </ion-avatar>
          <ion-label>
            <h2 text-capitalize>{{user.apellido}} {{user.nombre}}</h2>
            <p>DNI: {{user.dni}}</p>
            <p>Correo: {{user.email}}</p>
          </ion-label>
          <ion-badge (click)="aceptar(user)" style="margin-right: 5px;" color="success"><ion-icon name="checkmark-sharp"></ion-icon></ion-badge>
          <ion-badge (click)="rechazar(user)" color="danger"><ion-icon name="close-sharp"></ion-icon></ion-badge>
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>
