.my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }

  $greenSeaweed: rgba(2, 128, 144, 1);
  $blueQueen: rgba(69, 105, 144, 1);
  
  .divContent {
    opacity: 0.95;
    overflow: hidden;
    background-color: white;
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    transition: (transform 300ms, box-shadow 300ms);
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
  }

  .divEstado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid;
    color: rgb(231, 107, 107);
    border-radius: 10px;
    margin : 2% 12% 2% 12%; 
    .text{
        font-family: arial black; 
        text-transform: capitalize;
    }
  }

ion-button{
  margin-bottom: 2%; 
}