.divButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    .buttonPreparar{
        margin-top: 5px;
        height: 70px;
        width: 300px;
        font-size: 18px;
        text-transform: initial;
        --background: #720707;
    }
    .buttonEntregar{      
        margin-top: 40px;
        height: 70px;
        width: 300px;
        font-size: 18px;
        text-transform: initial;
        --background: #991c1c;
        
    }
}

.divMensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .mensaje{
        font-size: 20px;
        text-transform: initial;
    }
}