ion-toolbar{
    --background: #181818;
    ion-title{
        color: white;
    }
}

ion-content{
    --background: #181818;

    #form{
        margin-top: 15px;
        padding-left: 30px;
        padding-right: 30px;

        .buttonAlta{
            margin-top: 20px; //35
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.05);
            --box-shadow: none;
            --background: #b70e21;
        }

        .buttonCamera{
            height: 48px;
            width: 100%;
            font-size: 18px;
            text-transform: initial;
            --background: #b70e21;
        }

        ion-icon{
            color: #b70e21;
        }

    }
    
}