ion-header{
    text-align:center;
}
ion-toolbar{
    --background: #9200ff;
}
ion-title{
    padding-right: 70px;
    color: white;
    font-size: 18px;
    text-transform: initial;
}

.chart{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    border: 2px solid;
    border-color: #9200ff;
    border-radius: 10px;


}

.divTitle{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #9200ff;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    .title{
        font-family: Arial black;
        font-size: 30px;
        color: white;
    }
}

