<ion-header [translucent]="true">
  <app-nav [titulo]="titulo"></app-nav>
</ion-header>

<ion-content class="fondo">
  <div class="contenedor">
    <div class="divImage">
      <ion-img src="assets/logo_bodegon.png"></ion-img>
    </div>
    <ion-button class="ion-margin" color="danger" shape="round" fill="outline" expand="block" (click)="altaDuenio()" >Alta de dueño / supervisor</ion-button>
    <ion-button class="ion-margin" color="danger" shape="round" fill="outline" expand="block" (click)="altaEmpleado()" type="button">Alta de empleados</ion-button>
    <ion-button class="ion-margin" color="danger" shape="round" expand="block" (click)="listaClientes()" type="button">Listado de clientes</ion-button>
  </div>
  
</ion-content>
