<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-title>Alta de dueño / supervisor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form" [formGroup]="altaForm" (ngSubmit)="alta(altaForm)">

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="nombre" placeholder="Nombre"></ion-input>
      <ion-icon name="person-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="apellido" placeholder="Apellido"></ion-input>
      <ion-icon name="person-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="dni" placeholder="DNI" type="number"></ion-input>
      <ion-icon name="id-card-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="cuil" placeholder="CUIL" type="number"></ion-input>
      <ion-icon name="id-card-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-select placeholder="Seleccione un perfil" interface="popover" formControlName="perfil">
        <ion-select-option value="dueño">Dueño</ion-select-option>
        <ion-select-option value="supervisor">Supervisor</ion-select-option>
      </ion-select>
      <ion-icon name="person-circle-sharp" slot="start"></ion-icon>
    </ion-item>
  
    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="email" placeholder="Correo electrónico"></ion-input>
      <ion-icon name="mail-sharp" slot="start"></ion-icon>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
      <ion-icon name="key-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-button (click)="tomarFoto()" class="buttonCamera" expand="full">Tomar foto</ion-button>
      <ion-icon name="camera-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-button (click)="escanearQr()" class="buttonCamera" expand="full">Escanear QR</ion-button>
      <ion-icon name="qr-code-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-button class="buttonAlta" expand="block" type="submit" shape="round">Dar de alta</ion-button>
  </form>
</ion-content>
