<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sala
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sala</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" [hidden]="scanActive">
    <strong>Sala de Espera</strong>
    <p>El mozo le asignará una mesa</p>
  </div>

  <div id="container-button" [hidden]="scanActive">
    <ion-button color="primary" shape="round" fill="outline" (click)="escanear()">
      <ion-icon name="qr-code-sharp" slot="end"></ion-icon>Escanear QR Mesa
    </ion-button>
  </div>

  <!-- Aparece cuando el scanner esta activado-->
  <div class="scan-box" [hidden]="!scanActive"></div>
  <ion-row class="scanner-buttons" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button color="primary" shape="round" (click)="stopScanner()">Salir</ion-button>
    </ion-col>
  </ion-row>


</ion-content>