ion-title{
    padding-left: 0px;
    color: white;
    font-size: 18px;
    text-transform: initial;
}


.buttonEntregarPedido{
    font-size: 18px;
    text-transform: initial;
    --background: #720707;
    height: 50px;
    width: 250px;
    margin-top: 15px;
    margin-left: 82px;
}

.divMensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .mensaje{
        font-size: 20px;
        text-transform: initial;
    }
}

.my-custom-class {
    --background: rgb(0, 0, 0);
    background-color: black;
    
    --spinner-color: #fff;
    --backdrop-opacity: 100%;
    color: #fff;
  }