<ion-header [translucent]="true">
  <app-nav [titulo]="titulo"></app-nav>
</ion-header>

<ion-content>
  <div class="ion-margin divTitle">
    <h2 class="title">Estado de su pedido</h2>
  </div>
  <div class="ion-margin divEstado">
    <ion-text>
      <p class="text">{{pedido.estado | titlecase}}</p>
    </ion-text>
  </div>
  <ion-slides pager={true} [options]="slideOpts" class="slide">
      <ion-slide class="pedido" *ngFor="let pedido of pedido.pedido">
          <ion-text>
            <ion-img src="{{pedido.producto.imagen[0].referencia}}"></ion-img>
            <p class="text">Precio unitario: $ {{pedido.producto.precio}} c/u</p>
            <p class="text">Nombre: {{pedido.producto.nombre}}</p>
            <p class="text">Cantidad: {{pedido.unidades}}</p>
            <p class="text">Tiempo: {{pedido.producto.tiempo}} min</p>
          </ion-text>
      </ion-slide>
  </ion-slides>
</ion-content>
