<ion-header [translucent]="true">
  <app-nav [titulo]="titulo"></app-nav>
</ion-header>

<ion-content class="fondo">
  <div class="contenedor">
    <ion-slides pager={true} [options]="slideOpts" class="ion-margin slide">
      <ion-slide class="pedido" *ngFor="let pedido of pedido.pedido">
          <ion-text>
            <img src="{{pedido.producto.imagen[0].referencia}}" class="img-slide">
            <p class="text">Precio unitario: $ {{pedido.producto.precio}} c/u</p>
            <p class="text">Nombre: {{pedido.producto.nombre}}</p>
            <p class="text">Cantidad: {{pedido.unidades}}</p>
            <p class="text">Tiempo: {{pedido.producto.tiempo}} min</p>
          </ion-text>
      </ion-slide>
    </ion-slides>
    <div class="ion-margin divEstado">
      <ion-text>
        <p class="text">{{pedido.estado | noUnderscore}}</p>
        <p style="font-family: arial black;">Tiempo estimado: {{pedido.tiempoEstimado}} min</p>
        <!--<p class="text">{{estado | noUnderscore}}</p>-->
      </ion-text>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="pedidoListo">
  <ion-toolbar color="dark">
    <ion-button color="danger" shape="round" expand="full" (click)="confirmar()" >
      <ion-icon name="qr-code-sharp" slot="end"></ion-icon>Confirmar Recepción
    </ion-button>
  </ion-toolbar>
</ion-footer>
